.schedule
  &_arrow
    width: 10px
    height: 11px

  &-container
    max-width: 674px

  &-year
    color: #232323
    @media(max-width: 575px)
      font-size: 22px
    @media(min-width: 576px)
      font-size: 17px
    @media(min-width: 992px)
      font-size: 22px

  &-row
    @media(max-width: 575px)
      margin: 20px 0px 20px 0px
    @media(min-width: 768px)
      margin: 10px 0px 30px 30px
    @media(min-width: 992px)
      margin: 10px 0px 20px 0px

  &-graph
    width: 100%
    margin-top: 40px

    &-name
      display: flex
      align-items: center

  &-divider
    @media(max-width: 575px)
      display: block
      width: 100%
      height: 2px
      border-bottom: solid 1px rgba(182, 198, 246, 0.27)

  &-date
    @media(max-width: 575px)
      justify-content: center
      display: flex
      align-items: center 
    @media(min-width: 576px)
      display: flex
      align-items: center

.graph-name
  color: #141414
  font-size: 21px
  justify-content: flex-start
  @media(min-width: 768px)
    font-size: 17px
  @media(min-width: 992px)
    font-size: 21px

.pointer
  &-blue
    width: 10px
    height: 10px

  &-gray
    width: 13px
    height: 13px
    margin-left: 4px

.legend
  color: #555555
  font-size: 14px
  margin-left: 3px
  @media(min-width: 768px)
    font-size: 12px
  @media(min-width: 992px)
    font-size: 14px

.profit-repayment
  color: #3769FC
  font-size: 14px
  margin-right: 13px
  @media(max-width: 575px)
    padding-bottom: 3px
    border-bottom: 1px solid #3769FC

  @media(min-width: 768px)
    font-size: 12px
  @media(min-width: 992px)
    font-size: 14px

.principal-payment
  color: #939393
  font-size: 14px
  @media(min-width: 768px)
    font-size: 12px
  @media(min-width: 992px)
    font-size: 14px

.info-column
  justify-content: flex-end
  align-items: center
  @media(max-width: 767px)
    display: none
  @media(min-width: 768px)
    display: flex
  &-center
    justify-content: center
    align-items: center
    @media(max-width: 767px)
      display: none
    @media(min-width: 768px)
      display: flex

.graph
  max-width: 674px
  background: #FFFFFF
  box-shadow: 0px 7px 20px #0F143129
  @media(max-width: 575px)
    height: 100%
  @media(min-width: 576px)
    height: 148px
  @media(min-width: 768px)
    height: 294px
      

  &-title
    color: #141414
    font-size: 17px
    @media(max-width: 575px)
      font-size: 11px

  &-row
    display: flex
    justify-content: space-around
    margin-top: 25px
    padding-bottom: 25px 
    border-bottom: 1px solid #BFBFBF

.add-block
  max-width: 674px
  height: 294px
  background: #FFFFFF
  box-shadow: 0px 7px 20px #0F143129
  
.today
  align-items: baseline
  justify-content: center
  display: flex
  @media(min-width: 575px)
    margin: 20px 0px 
  @media(min-width: 768px)
    margin: 0

.description
  color: #7A7A7A
  font-size: 14px
  text-align: center
  margin-top: 80px

.mobile-visible
  display: flex
  justify-content: center
  margin-top: 20px
  @media(min-width: 576px)
    margin-bottom: 20px

  @media(min-width: 768px)
    display: none
