.register-investment
  &-container
    margin-top: 90px

  &__block
    display: flex
    justify-content: center

  &-box
    max-width: 770px
    height: 292px
    background: #FFFFFF
    box-shadow: 8px 13px 10px #C6D3E526
    border: 1px solid #C6D3E5
    border-radius: 3px
    padding: 13%
    @media(min-width: 992px)
      padding: 87px

  &__button
    width: 249px
    height: 55px
    background: #3182F5
    box-shadow: 8px 13px 10px #3182F533
    border-radius: 3px
    color: #FFFFFF
    font-size: 18px
    font-family: "NanumSquareRegular"
    border: none 

    &-column
      display: flex
      justify-content: center
      margin-top: 59px


  &__title
    color: #2E2E2E
    font-size: 30px
    font-family: "NanumSquareRegular"    
    display: flex
    justify-content: center
    margin-bottom: 48px

  &__label
    font-size: 17px
    display: flex
    justify-content: flex-end
    margin-bottom: 0px
    align-items: center
    @media(max-width: 575px)
      justify-content: flex-start

  &__input
    &-bank
      width: 94px
      height: 38px
      background: #ADCDFB
      border: 1px solid #3182F5
      opacity: 0.4
      color: #3182F5
      font-size: 15px
      font-family: "NanumSquareRegular"
      margin-right: 6px
      padding-left: 20px

      &_number
        width: 176px
        height: 37px
        background: #FFFFFF
        border: 1px solid #3182F5
        opacity: 0.4
        color: #939393
        font-size: 13px
        font-family: "NanumSquareRegular"

    &-id      
      width: 129px
      height: 37px
      background: #FFFFFF
      border: 1px solid #3182F5
      opacity: 0.4
      color: #939393
      font-size: 12px
      font-family: "NanumSquareRegular"

  &__first-row
    margin-bottom: 28px

  &__icon
    position: absolute
    top: 13px
    left: 22px
    height: 10px


    

