.main
  &__container
    width: 100%
    height: 100%
    background: white

  &__image
    width: 100%

  &__to-buy-first
    @media(max-width: 767px)
      display: none
    @media(min-width: 768px)
      position: absolute
      top: 28%
      width: 9%
      left: 30%
    @media(min-width: 860px)
      top: 30%
    @media(min-width: 930px)
      top: 33%
    @media(min-width: 1200px)
      top: 43%
    @media(min-width: 1920px)
      top: 29%

  &__to-buy-second 
    @media(max-width: 767px)
      display: none
    @media(min-width: 768px)
      position: absolute
      top: 31%
      width: 9%
      left: 56%
    @media(min-width: 860px)
      top: 34%
    @media(min-width: 930px)
      top: 38%
    @media(min-width: 1200px)
      top: 51%
    @media(min-width: 1920px)
      top: 34%

  &__to-buy-third
    @media(max-width: 767px)
      display: none
    @media(min-width: 768px)
      position: absolute
      top: 34%
      left: 70%
      width: 9%
    @media(min-width: 860px)
      top: 37%
    @media(min-width: 930px)
      top: 41%
    @media(min-width: 1200px)
      top: 55%
    @media(min-width: 1920px)
      top: 37%

  &__titles-block
    position: absolute
    top: 197px
    justify-content: center
    @media(max-width: 575px)
      top: 92px
    @media(min-width: 768px)
      top: 110px
    @media(min-width: 1920px)
      top: 300px

  &__titles-centered
    display: flex
    justify-content: center

  &__title
    font-size: 29px
    line-height: 1.1
    text-align: center
    color: #ffffff
    @media(max-width: 575px)
      font-size: 17px

  &__subtitle
    margin-top: 22px
    font-family: "NanumSquareRegular"
    font-size: 15px
    line-height: 1.6
    text-align: center
    color: #ffffff
    @media(max-width: 575px)
      margin-top: 20px
      font-size: 13px

  &__offers
    display: flex
    justify-content: center
    ::-webkit-scrollbar
      height: 2px
    ::-webkit-scrollbar-track
      background: #cedaff
    ::-webkit-scrollbar-thumb 
      background: #3182f5
    @media(min-width: 576px)
      padding: 0px 15px

.why-real-buy
  width: 100%
  height: 100%
  background: #FAFBFE    
  box-shadow: inset 0px 10px 36px #0F143129
  //temporarily
  display: grid
  justify-items: center 
  @media(max-width: 575px)
    padding: 30px 10px
    box-shadow: none
  @media(min-width: 576px)
    padding: 60px 10px
  @media(min-width: 768px)
    padding: 70px 150px
  @media(min-width: 992px)
    padding: 90px 200px 86px 200px
  @media(min-width: 1200px)
    padding: 102px 308px 86px 308px
  //end of temp

  div
    @media(min-width: 576px)
      display: flex

  span
    height: 137px
    border-right: solid 1px #bebebe
    margin-top: 44px
    @media(max-width: 575px)
      display: none

  &__title
    color: #0540FF
    font-size: 15px
    font-family: "NanumSquareRegular"
    text-align: center
    margin-bottom: 13px
    @media(max-width: 575px)
      display: none

  &__subtitle
    color: #2E2E2E
    font-size: 25px
    text-align: center
    margin-bottom: 33px
    @media(max-width: 575px)
      display: none

  &__mobile
    &-title
      color: #2a2a2a
      font-size: 15px
      text-align: center
      @media(min-width: 576px)
        display: none

    &-block
      display: grid !important
      justify-items: center
      padding: 27px
      border-bottom: solid 1px #bebebe
      height: 220px
      &:last-child
        border-bottom: none
      @media(min-width: 576px)
        border-bottom: none

      &-pic
        margin-bottom: 13px

      &-title
        color: #555555
        font-size: 12px
        text-align: center
        margin-bottom: 12px
        @media(min-width: 576px)
          color: #0540FF
          font-size: 16px
          margin-bottom: 0

      &-subtitle
        font-family: "NanumSquareRegular"
        color: #555555
        font-size: 12px
        text-align: center
        @media(min-width: 576px)
          color: #0540FF

.how-to
  width: 100%
  height: 100%
  background: white
  padding: 78px 262px
  @media(max-width: 575px)
    padding: 20px
  @media(min-width: 576px)
    padding: 30px 50px
  @media(min-width: 768px)
    padding: 50px 100px
  @media(min-width: 992px)
    padding: 78px 200px
  @media(min-width: 1200px)
    padding: 78px 262px
  @media(min-width: 1920px)
    padding: 78px 529px

  &__title
    color: #0540ff
    font-size: 15px
    font-family: "JavaneseText"
    margin-bottom: 4px
    @media(max-width: 575px)
      font-size: 7px

  &__subtitle
    color: #2a2a2a
    @media(max-width: 575px)
      font-size: 14px
      margin-bottom: 4px
    @media(min-width: 576px)
      font-size: 17px
      margin-bottom: 10px
    @media(min-width: 768px)
      font-size: 20px
      margin-bottom: 15px
    @media(min-width: 992px)
      font-size: 28px
      margin-bottom: 22px
    @media(min-width: 1200px)
      font-size: 35px

  &__sub
    color: #707070
    font-family: "NanumSquareRegular"
    @media(max-width: 575px)
      margin-bottom: 50px
      font-size: 14px
    @media(min-width: 576px)
      margin-bottom: 80px
      font-size: 15px
    @media(min-width: 768px)
      margin-bottom: 100px
      font-size: 16px
    @media(min-width: 992px)    
      margin-bottom: 128px
      font-size: 17px

  &__pic
    @media(max-width: 575px)
      width: 337px
    @media(min-width: 576px)
      width: 500px
    @media(min-width: 768px)
      width: 612px

    &-container
      display: flex
      justify-content: center
      width: 100%

.how-to
  &__second
    width: 100%
    height: 100%
    background: #FAFBFE
    padding: 78px 215px
    display: flex
    justify-content: space-between
    @media(max-width: 575px)
      padding: 20px
      display: block
    @media(min-width: 576px)
      padding: 30px 50px
    @media(min-width: 768px)
      padding: 50px 100px
    @media(min-width: 992px)
      padding: 78px 200px
    @media(min-width: 1200px)
      padding: 78px 262px
    @media(min-width: 1920px)
      padding: 78px 529px

    &_title
      color: #0540ff
      font-size: 15px
      font-family: "JavaneseText"
      margin-bottom: 10px
      @media(max-width: 575px)
        font-size: 7px

    &_subtitle
      color: #2a2a2a
      margin-bottom: 37px
      @media(max-width: 575px)
        font-size: 14px
        margin-bottom: 4px
      @media(min-width: 576px)
        font-size: 17px
        margin-bottom: 10px
      @media(min-width: 768px)
        font-size: 20px
        margin-bottom: 15px
      @media(min-width: 992px)
        font-size: 28px
        margin-bottom: 22px
      @media(min-width: 1200px)
        font-size: 35px

    &_sub
      color: #000000
      font-size: 17px
      font-family: "NanumSquareRegular"
      @media(max-width: 575px)
        font-size: 14px
      @media(min-width: 576px)
        font-size: 15px
      @media(min-width: 768px)
        font-size: 16px
      @media(min-width: 992px)    
        font-size: 17px

    &_text-block
      @media(min-width: 768px)
        width: 360px

.phone
  @media(max-width: 575px)
    width: 200px
  @media(min-width: 576px)
    width: 200px
  @media(min-width: 768px)
    width: 300px

  &-container
    display: flex
    justify-content: center
    width: 57%
    @media(max-width: 575px)
      width: 100%
      justify-content: flex-end


.rand-mark
  width: 100%
  height: 100%
  background: white
  @media(max-width: 575px)
    height: 100%
    padding: 20px 20px 0px 20px
  @media(min-width: 576px)
    display: grid
    align-content: space-between
  @media(min-width: 768px)
    height: 100%
  @media(min-width: 1200px)
    padding-top: 78px

  &__phone
    @media(max-width: 575px)
      width: 200px
      z-index: 1
    @media(min-width: 576px)
      width: 200px
    @media(min-width: 768px)
      width: 300px

    &-container
      display: flex
      justify-content: center
      width: 62%
      z-index: 1
      @media(max-width: 575px)
        width: 100%
        justify-content: flex-end
      @media(min-width: 768px)
        width: 60%
      @media(min-width: 992px)
        width: 50%
        display: block
      @media(min-width: 1920px)
        width: 48%
        
  &__text-block
    padding: 78px 215px
    @media(max-width: 575px)
      display: block
      justify-content: center
      padding: 0
    @media(min-width: 576px)
      padding: 30px 0px 0px 50px
      width: 237px
      display: block
    @media(min-width: 768px)
      padding: 50px 0px 0px 100px
      width: 297px
    @media(min-width: 992px)
      padding: 78px 0px 0px 200px
      width: 489px
    @media(min-width: 1200px)
      padding: 78px 0px 0px 262px
      width: 554px
    @media(min-width: 1920px)
      padding: 78px 0px 0px 529px
      width: 835px

    &_title
      color: #0540ff
      font-size: 15px
      font-family: "JavaneseText"
      margin-bottom: 10px
      @media(max-width: 575px)
        font-size: 7px

    &_subtitle
      color: #2a2a2a
      font-size: 35px
      margin-bottom: 37px
      @media(max-width: 575px)
        font-size: 14px
        margin-bottom: 4px
      @media(min-width: 576px)
        font-size: 17px
        margin-bottom: 10px
      @media(min-width: 768px)
        font-size: 20px
        margin-bottom: 15px
      @media(min-width: 992px)
        font-size: 28px
        margin-bottom: 22px
      @media(min-width: 1200px)
        font-size: 35px

  &__title
    color: #141414
    font-size: 17px
    font-family: "NanumSquareRegular"
    margin-bottom: 23px
    @media(max-width: 575px)
      font-size: 14px
      margin-bottom: 4px
    @media(min-width: 576px)
      font-size: 17px
      margin-bottom: 10px
      

  &__subtitle
    color: #141414
    font-family: "NanumSquareLight"
    @media(max-width: 575px)
      font-size: 9px
    @media(min-width: 576px)
      font-size: 10px
    @media(min-width: 768px)
      font-size: 12px
    @media(min-width: 992px)
      font-size: 14px

  &__frame
    position: absolute
    top: 3576px
    left: 595px
    @media(max-width: 575px)
      top: 3576px
      left: 595px
      height: 251px

  &__inner-phone
    position: absolute
    top: 3609px
    left: 627px
    @media(max-width: 575px)
      top: 3591px
      left: 610px
      height: 221px

  &__pic
    width: 100%
    @media(max-width: 575px)
      width: 137%
      position: relative
      right: 62px
      margin-top: -140px
    @media(min-width: 576px)
      margin-top: -185px
    @media(min-width: 992px)
      margin-top: -300px
    @media(min-width: 1920px)
      margin-top: 0

  &__phone-pic
    position: relative
    bottom: 3500px
    right: 700px
    @media(max-width: 575px)
      right: 545px
      bottom: 3682px
      z-index: 2

  &__justify
    display: flex
    justify-content: space-between
    @media(max-width: 575px)
      display: block
    @media(min-width: 1920px)
      height: 65px

  &__pics
    position: relative
    @media(max-width: 575px)
      right: 222px
      top: 207px
    @media(min-width: 576px)
      z-index: 2
      right: 267px
      bottom: 38px
    @media(min-width: 768px)
      width: 10%
    @media(min-width: 992px)
      width: 14.5%
    @media(min-width: 1200px)
      width: 20%
    @media(min-width: 1920px)
      width: 29%
    
.customize-offerings
  background: #FAFBFE
  @media(max-width: 575px)
    padding: 20px
  @media(min-width: 576px)
    padding: 30px 50px
  @media(min-width: 768px)
    padding: 50px 100px
  @media(min-width: 992px)
    padding: 78px 200px
  @media(min-width: 1200px)
    padding: 78px 262px
  @media(min-width: 1920px)
    padding: 78px 529px

  &__text-block
    @media(min-width: 576px)
      width: 274px
    @media(min-width: 768px)
      width: 429px

  &__title
    color: #0540ff
    font-size: 15px
    font-family: "JavaneseText"
    margin-bottom: 10px
    @media(max-width: 575px)
      font-size: 7px

  &__subtitle
    color: #2a2a2a
    margin-bottom: 37px
    @media(max-width: 575px)
      font-size: 14px
      margin-bottom: 4px
    @media(min-width: 576px)
      font-size: 17px
      margin-bottom: 10px
    @media(min-width: 768px)
      font-size: 20px
      margin-bottom: 15px
    @media(min-width: 992px)
      font-size: 28px
      margin-bottom: 22px
    @media(min-width: 1200px)
      font-size: 35px

  &__sub
    color: #000000
    font-size: 17px
    font-family: "NanumSquareRegular"
    width: 322px
    @media(max-width: 575px)
      font-size: 14px
      width: 270px
    @media(min-width: 576px)
      font-size: 15px
    @media(min-width: 768px)
      font-size: 16px
    @media(min-width: 992px)    
      font-size: 17px

  &__pic
    @media(max-width: 575px)
      width: 337px
    @media(min-width: 576px)
      width: 500px
    @media(min-width: 768px)
      width: 612px
    
    &-container
      display: flex
      justify-content: center
      width: 100%

.computer
  width: 100%
  height: 100%
  @media(max-width: 575px)
    display: grid
    justify-content: center
    padding: 20px
  @media(min-width: 576px)
    padding: 30px
    display: grid
    justify-content: center
  @media(min-width: 768px)
    padding: 50px
  @media(min-width: 992px)
    padding: 78px 215px 80px 215px
  @media(min-width: 1200px)
    padding: 125px 215px 80px 215px

  &__text-block

  &__title
    color: #0540ff
    font-size: 15px
    font-family: "JavaneseText"
    margin-bottom: 10px
    @media(max-width: 575px)
      display: none

  &__subtitle
    color: #2a2a2a
    margin-bottom: 37px
    @media(max-width: 575px)
      font-size: 14px
      margin-bottom: 4px
    @media(min-width: 576px)
      font-size: 17px
      margin-bottom: 10px
    @media(min-width: 768px)
      font-size: 20px
      margin-bottom: 15px
    @media(min-width: 992px)
      font-size: 28px
      margin-bottom: 22px
    @media(min-width: 1200px)
      font-size: 35px

  &__sub
    color: #000000
    font-size: 17px
    font-family: "NanumSquareRegular"
    @media(max-width: 575px)
      font-size: 14px
    @media(min-width: 576px)
      font-size: 15px
    @media(min-width: 768px)
      font-size: 16px
    @media(min-width: 992px)    
      font-size: 17px

  &__pic
    width: 100%
    @media(min-width: 768px)
      max-width: 700px

  &__up
    width: 100%
    height: 40px





