.main
  &__container
    width: 100%
    height: 100%

  &__image
    width: 100%

  &__to-buy-first
    position: relative
    bottom: 571px
    left: 335px

  &__to-buy-second
    position: relative
    bottom: 514px
    left: 516px

  &__to-buy-third
    position: relative
    bottom: 482px
    left: 564px

  &__titles-block
    position: absolute
    top: 197px
    justify-content: center

  &__titles-centered
    display: flex
    justify-content: center

  &__title
    font-size: 29px
    line-height: 1.1
    text-align: center
    color: #ffffff

  &__subtitle
    margin-top: 22px
    font-family: "NanumSquareRegular"
    font-size: 15px
    line-height: 1.6
    text-align: center
    color: #ffffff

.why-real-buy
  width: 100%
  height: 100%
  background: #FAFBFE    
  box-shadow: inset 0px 10px 36px #0F143129
  padding: 102px 308px 86px 308px

  &__title
    color: #0540FF
    font-size: 15px
    font-family: "NanumSquareRegular"
    text-align: center
    margin-bottom: 13px

  &__subtitle
    color: #2E2E2E
    font-size: 25px
    text-align: center
    margin-bottom: 33px

  &__pic
    width: 100%

.how-to
  width: 100%
  height: 100%
  background: white
  padding: 78px 262px

  &__title
    color: #0540ff
    font-size: 15px
    font-family: "JavaneseText"
    margin-bottom: 4px

  &__subtitle
    color: #2a2a2a
    font-size: 35px
    margin-bottom: 22px

  &__sub
    color: #707070
    font-size: 17px
    font-family: "NanumSquareRegular"
    margin-bottom: 128px

  &__pic
    width: 100%

.how-to
  &__second
    width: 100%
    height: 100%
    background: #FAFBFE
    padding: 78px 215px
    display: flex
    justify-content: space-between

    &_title
      color: #0540ff
      font-size: 15px
      font-family: "JavaneseText"
      margin-bottom: 10px

    &_subtitle
      color: #2a2a2a
      font-size: 35px
      margin-bottom: 37px

    &_sub
      color: #000000
      font-size: 17px
      font-family: "NanumSquareRegular"
      
.rand-mark
  width: 100%
  height: 100%
  background: white
  padding: 78px 215px
  display: flex
  justify-content: space-between

  &__title
    color: #141414
    font-size: 17px
    font-family: "NanumSquareRegular"
    margin-bottom: 23px

  &__subtitle
    color: #141414
    font-size: 14px
    font-family: "NanumSquareLight"

  &__frame
    position: relative
    bottom: 750px
    left: 727px

  &__inner-phone
    position: relative
    bottom: 750px
    left: 433px





