.all-info
  &-box
    height: 60px
    background: #FFFFFF
    box-shadow: 0px 7px 20px #0F143129
    display: flex
    align-items: center
    justify-content: center

    @media(min-width: 768px)
      max-width: 686px

  &-row
    margin: 20px 0px 20px 0px
    justify-content: space-around

  &-title
    color: #555555
    font-size: 20px

  &-count
    color: #3769FC
    font-size: 20px
