.purchase-analysis
  &__container
    width: 100%
    height: 100%
    background: #FAFBFE
    @media(max-width: 575px)
      display: none
    @media(min-width: 576px)
      padding: 74px 10px
    @media(min-width: 768px)
      padding: 74px 140px
    @media(min-width: 1200px)
      padding: 74px 215px

  &__big-box
    width: 373px
    height: 350px
    background: #FFFFFF
    margin-bottom: 20px
    @media(max-width: 767px)
      flex: 0 0 80%
      margin-left: 8%
    @media(min-width: 768px)
      flex: 0 0 76%
      margin-left: 5%
    @media(min-width: 992px)
      flex: 0 0 48%
      margin-left: 0
    @media(min-width: 1200px)
      flex: 0 0 45%
      margin-left: 0

  &__small-box
    width: 373px
    height: 284px
    background: #FFFFFF
    @media(max-width: 767px)
      flex: 0 0 80%     
      margin-left: 8%  
      margin-top: 20px
    @media(min-width: 768px)
      flex: 0 0 76%
      margin-left: 5%      
      margin-top: 20px
    @media(min-width: 992px)
      flex: 0 0 48%
      margin-left: 0
    @media(min-width: 1200px)
      flex: 0 0 45%
      margin-left: 0

  &__terms
    flex: 0 0 50%
    margin-left: 55%
    margin-top: 24px
    @media(max-width: 767px)
      flex: 0 0 80%     
      margin-left: 8%  
    @media(min-width: 768px)
      flex: 0 0 76%
      margin-left: 5%      
    @media(min-width: 992px)
      flex: 0 0 50%
      margin-left: 54%

    &-title
      color: #3769FC
      font-size: 15px

    &-box
      width: 373px
      height: 69px
      border: 1px solid #788FD966
      margin-top: 5px
      padding-top: 15px
      padding-left: 10px

    &-subtitle
      color: #3769fc
      font-size: 12px
      font-family: "NanumSquareRegular"

  &__row
    display: flex
    justify-content: space-around
    @media(max-width: 767px)
      flex-wrap: wrap
    @media(min-width: 768px)
      flex-wrap: wrap

  &__title
    color: #7A7A7A
    font-size: 20px
    height: 57px
    width: 100%
    box-shadow: 0px 5px 20px #9DADDE66
    border: 1px solid #85A2FF66
    display: flex
    justify-content: center
    align-items: center

  &__slider
    height: 312px

  &__picture
    width: 353px
    height: 256px
    padding: 10px 0px 0px 20px

  &__dots
    display: flex
    justify-content: center

  &__arrows
    display: flex
    justify-content: space-between
    position: relative
    bottom: 136px
    margin: 0px 5px

  &__arrow
    border: none !important

  &__pic
    height: 25px
    width: 16px

  &__subtitle
    color: #555555
    font-size: 15px

  &__definition
    color: #555555
    font-size: 12px
    font-family: "NanumSquareRegular"    
    margin-left: 9px

  &__block-first
    padding: 39px 22px 22px 22px

  &__block
    padding: 0px 22px 22px 22px

  &__graph2
    width: 356px
    padding-top: 14px

.carousel__next-button
  padding: 0px

.carousel__back-button
  padding: 0px
