.header
  height: 70px
  background: #FFFFFF
  display: flex
  align-items: center
  justify-content: space-between
  padding-left: 184px
  padding-right: 184px
  
  &-list
    display: flex

    a
      margin-right: 54px
      text-decoration: none
      font-family: "NanumSquare"
      font-weight: bold
      color: #555555    
      font-size: 14px

      &:last-child
        margin-right: 0px

  &-end a
    color: #0540FF
    text-decoration: none
    font-family: "NanumSquare"
    font-weight: bold    
    font-size: 14px
