body 
  margin: 0px
  font-family: NanumSquare

@font-face 
  font-family: "NanumSquare"
  src: url("./assets/fonts/NanumSquare_ac Bold.otf")
  font-weight: bold

@font-face 
  font-family: "NanumSquareLight"
  src: url("./assets/fonts/NanumSquare_ac Light.otf")

@font-face 
  font-family: "NanumSquareRegular"
  src: url("./assets/fonts/NanumSquare_ac Regular.otf")
