body 
  margin: 0px
  font-family: NanumSquareExtraBold

@font-face 
  font-family: "NanumSquare"
  src: url("./assets/fonts/NanumSquare_ac Bold.otf")
  font-weight: bold

@font-face 
  font-family: "NanumSquareLight"
  src: url("./assets/fonts/NanumSquare_ac Light.otf")

@font-face 
  font-family: "NanumSquareRegular"
  src: url("./assets/fonts/NanumSquare_ac Regular.otf")

@font-face 
  font-family: "NanumSquareExtraBold"
  src: url("./assets/fonts/NanumSquare_ac ExtraBold.otf")

@font-face 
  font-family: "SFProDisplayHeavy"
  src: url("./assets/fonts/SFProDisplay-Heavy.ttf")

@font-face 
  font-family: "SFProDisplayThin"
  src: url("./assets/fonts/SFProDisplay-Thin.ttf")
