.offers
  &__container
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    background: white
    @media(max-width: 575px)
      display: flex
      padding: 31px 10px
      overflow-x: scroll
      white-space: nowrap
      margin: 20px 0px 20px 20px
      box-shadow: 0 10px 36px 0 rgba(15, 20, 49, 0.16)
    @media(min-width: 576px)
      max-width: 560px
      margin: 64px 0px
    @media(min-width: 768px)
      max-width: 612px
      display: flex
      justify-content: center
    @media(min-width: 1920px)
      max-width: 918px
      margin: 96px 0px

  &__offer
    margin-right: 30px
    @media(max-width: 575px)
      display: grid
      justify-content: center
      margin-bottom: 40px

    &:last-child
      margin-right: 0px
      @media(max-width: 575px)
        padding-right: 20px

    &-title
      color: #272727
      font-size: 20px
      text-align: center
      margin-bottom: 21px

  &__evaluation
    display: flex
    justify-content: flex-end    
    align-items: center
    padding: 13px 10px 10px 10px
  
    &-four-stars
      width: 88px

    &-three-stars
      width: 67px
      height: 23px

    &-five-stars
      width: 110px
      height: 23px

    &-text
      color: #141414
      font-size: 13px
      font-family: "NanumSquareRegular"

    &-boarder
      border-bottom: 1px solid #939393
      padding: 0px 10px 10px 10px
      margin-bottom: 13px

  &__return
    color: #141414
    font-size: 16px
    font-family: "NanumSquareRegular"
    text-align: center

    &-percent
      color: #141414
      font-size: 17px
      font-family: "NanumSquare"

  &__main
    width: 164px

  &-image
    width: 600px
    @media(min-width: 576px)
      width: 100%
    @media(min-width: 1920px)
      width: 900px
      
    
